:root {
  --color-lightest: #fff;
  --color-darkest: #000;
  --color-primary: #0ca6d5;
  --color-primary-dark: #076480;
  --color-secondary: #c0e8f3;
  --color-accent: #e63b60;
  --color-headings: #0ca6d5;
  --color-body: #252525;
  --color-body-light: #efefef;
  --color-border: #c0e8f3;
  --border-radius: 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16pc = 10px = 1rem */
  font-size: 62.5%;
}

body {
  /* background: repeating-linear-gradient(
    0,
    #fff 0%,
    rgba(192, 232, 243, 0.5) 20%,
    #fff 40%
  ); */
  font-family: Yaldevi, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2 {
  margin-bottom: 3rem;
}

h1 {
  font-size: 4.5rem;
  color: var(--color-body-light);
}

h2 {
  font-size: 4rem;
  color: var(--color-headings);
}

h3 {
  font-size: 3rem;
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.7rem;
  color: var(--color-accent);
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.1rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: royalblue;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
}

/* .link-arrow::after {
  content: ">";
  margin-left: 8px;
  transition: 0.2s;
} */

.link-arrow::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f061";
  margin-left: 5px;
  transition: 0.2s;
  transform: rotate(-45deg);
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
  color: var(--color-primary-dark);
}

.list--circle {
  list-style: circle;
  padding-left: 2rem;
}

.list--circle .list__item {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--circle .list__item {
    padding-left: 0;
  }
}
