<div class="container container--vh">
  <h2>Projects</h2>
  <div class="grid grid--1x3 projects">
    <article class="card card--projects">
      <img src="/images/banner.jpg" alt="" class="card__img" />
      <div class="card__info">
        <h3 class="project__heading">Personal Website</h3>
        <p>My personal website. Everything self-taught.</p>
        <span class="badge">HTML</span>
        <span class="badge">CSS</span>
        <span class="badge">JavaScript</span>
        <div class="btn--project">
          <a href="#" class="btn btn--white inset-shadow btn--block"
            >Learn more</a
          >
        </div>
      </div>
    </article>
    <article class="card card--projects">
      <img src="/images/banner.jpg" alt="" class="card__img" />
      <div class="card__info">
        <h3 class="project__heading">Personal Website</h3>
        <p>My personal website. Everything self-taught.</p>
        <span class="badge">HTML</span>
        <span class="badge">CSS</span>
        <span class="badge">JavaScript</span>
        <div class="btn--project">
          <a href="#" class="btn btn--white inset-shadow btn--block"
            >Learn more</a
          >
        </div>
      </div>
    </article>
    <article class="card card--projects">
      <img src="/images/banner.jpg" alt="" class="card__img" />
      <div class="card__info">
        <h3 class="project__heading">Personal Website</h3>
        <p>My personal website. Everything self-taught.</p>
        <span class="badge">HTML</span>
        <span class="badge">CSS</span>
        <span class="badge">JavaScript</span>
        <div class="btn--project">
          <a href="#" class="btn btn--white inset-shadow btn--block"
            >Learn more</a
          >
        </div>
      </div>
    </article>
  </div>
</div>
