<article class="card card--education">
  <img src="/images/white-background.jpg" alt="" class="card__img" />
  <div class="education__header">
    <h3 class="education__heading">
      Bachelor of Architectural Technology and Construction Management
    </h3>
    <p class="card__date">09/2015-01/2019, Denmark</p>
  </div>
  <div class="education__info">
    <ul class="list list--circle">
      <li class="list__item">Drink</li>
      <li class="list__item">Drink</li>
      <li class="list__item">Drink</li>
      <li class="list__item">Drink</li>
      <li class="list__item">Drink</li>
    </ul>
  </div>
</article>
