<div class="card card--experience">
  <header class="card__header">
    <p class="card__date">01/01/2020 - 01/01/2021</p>
  </header>
  <div class="card__job">
    <h3 class="card__name">Trust & Safety Associate</h3>
    <h4 class="card__company">Accenture</h4>
    <ul class="list list--circle">
      <li class="list__item">Lorem ipsum dolor sit amet.</li>
      <li class="list__item">
        Lorem ipsum dolor sit amet consectetur adipisicing.
      </li>
      <li class="list__item">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </li>
      <li class="list__item">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
        eos!
      </li>
      <li class="list__item">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque est
        suscipit eaque architecto ratione, minima consequatur non sunt possimus
        porro.
      </li>
      <li class="list__item">Lorem ipsum dolor sit.</li>
    </ul>
    <span class="badge">HTML</span>
    <span class="badge">CSS</span>
  </div>
</div>
