<div class="skills grid grid--1x2-skills">
  <header class="skill__header">HTML</header>
  <div class="skill__level" style="width: 90%"></div>
</div>
<div class="skills grid grid--1x2-skills">
  <header class="skill__header">CSS</header>
  <div class="skill__level" style="width: 50%"></div>
</div>
<div class="skills grid grid--1x2-skills">
  <header class="skill__header">JavaScript</header>
  <div class="skill__level" style="width: 30%"></div>
</div>
<div class="skills grid grid--1x2-skills">
  <header class="skill__header">React</header>
  <div class="skill__level" style="width: 45%"></div>
</div>
